<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="d-flex align-items-center gap-2">
            <h1>Listagem de Contatos</h1>
            <a class="btn btn-danger text-white" th:href="@{/contatos/create}">Criar Novo Contato</a>
        </div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cont: ${contato}">
                    <td th:text="${cont.nome}"></td>
                    <td th:text="${cont.email}"></td>
                    <td>
                        <a th:href="@{/contatos/edit/{id}(id=${cont.id})}">Editar</a> |
                        <a th:href="@{/contatos/delete/{id}(id=${cont.id})}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
